<div class="row">
  <div class="col-1"></div>
  <div class="col-3">
    Showing &nbsp;
    <div class="btn-group">
      <button class="btn btn-sm dropdown-toggle border border-dark rounded" style="background-color: transparent;"
        type="button" data-toggle="dropdown">{{ pagination.size }}</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" *ngFor="let size of sizes" (click)="changeSize(size)">{{ size }}</a>
      </div>
    </div>
    &nbsp;of {{ quantity }} elements.
  </div>
  <div class="col-4"></div>
  <div class="col-1 search-tag text-center rounded-left p-1">Search</div>
  <div class="col-2 search-box border border-dark rounded-right">
    <input type="text" [(ngModel)]="searchText" class="form-control bg-transparent border-0 ar"
      (ngModelChange)='search($event)' placeholder="&#xF002;" style="font-family:Arial, FontAwesome">
  </div>
  <div class="col-1"></div>
</div>
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{'disabled': pagination.page === 0}"><a class="page-link" tabindex="-1"
        (click)="changePage(false)"><span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span></a></li>
    <li class="page-item"><a class="page-link">{{ pagination.page + 1 }} of {{ showdata.length }}</a></li>
    <li class="page-item" [ngClass]="{'disabled': pagination.page >= showdata.length - 1}"><a class="page-link"
        (click)="changePage(true)"><span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span></a></li>
  </ul>
</nav>