<div class="container pl-pr-5">
  <ng-container *ngIf="recipe; else elseTemplate">
    <div class="row mt-3">
      <div class="col">
        <h1 class="font-weight-bold text-capitalize text-break"
          style="font-size:60px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
          {{recipe.name}}</h1>
      </div>
    </div>
    <div class="row text-capitalize pl-5 font-italic" *ngIf="owner">
      <div class="col-6">
        By&nbsp;<a [routerLink]="[ '/profile', recipe.owner ]">{{owner.name}}</a>
      </div>
      <div class="col-6" style="text-align:end;">
        <ng-container *ngIf="stars.length===5; else elseTemplate">
          <span *ngFor="let star of stars; let i=index">
            <i class="fa-3x fa-lg pt-4"
            [ngClass]="{'fas': stars[i]>-1,'far':stars[i]===-1,'fa-star': stars[i]!==0, 'fa-star-half-alt': stars[i]===0}" (click)="voteUp(i)"
            ></i>
          </span>
        </ng-container>
        <ng-template #elseTemplate>
          No Rated
        </ng-template>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6 pl-4">
        <h2 class="font-weight-bold text-capitalize text-break"
          style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Description</h2>
        <p class="text-justify pl-2">{{recipe.description}}</p>
      </div>
      <div class="col-6 text-center pt-4">
        <img src="{{imagesUrl+recipe.picture}}" class="rounded mx-auto d-block">      
      </div>
    </div>
    <hr style="border-color: darkgrey;">
    <div class="row  pr-4 text-break">
      <div class="col pl-4">
        <h2 class="mt-2 font-weight-bold text-capitalize text-break"
          style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Ingredients</h2>
      </div>
      <div class="w-100"></div>
      <div class="col" >
        <ul class="mt-2 pl-8" *ngFor="let item of recipe.ingredients">
          <li>{{item.quantity}}&nbsp;{{item.name}}</li>
        </ul>
      </div>
    </div>
    <div class="row pr-4 text-break">
      <div class="row pl-4">
        <h2 class="mt-2 pl-3 font-weight-bold text-capitalize text-break"
        style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Preparation</h2>
      </div>
      <div class="w-100"></div>
      <div class="row pl-4">
        <p class="mt-2 pl-4 text-justify">{{recipe.steps}}</p>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    no recipe
  </ng-template>

  <!-- <a [routerLink]="[ '/recipes']">back</a> -->
</div>